NODE_ENV=
DATABASE_URL=

# google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# nextauth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

HASH_SECRET=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_HOST=



